<header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar">
    <nav class="container flex-wrap flex-md-nowrap">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" routerLink="/test-page" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </li>
        </ul>
    </nav>
</header>
