<div class="login-form shadow rounded m-auto p-3">
    <form [formGroup]="loginForm" (ngSubmit)="signup()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" id="username-input" class="form-control" formControlName="username" />
        </div>
        <div *ngIf="!isLogin" class="form-group">
            <label for="user-type-selector">User type</label>
            <div ngbDropdown id="user-type-selector" aria-describedby="user-type-hint">
                <button ngbDropdownToggle id="user-type-selector" class="btn btn-outline-primary w-100" type="button">
                    {{ getUserType() }}
                </button>
                <div ngbDropdownMenu class="w-100" aria-labelledby="user-type-selector">
                    <option ngbDropdownItem value="patient" (click)="setUserType($event.target.value)" value="Patient"
                        >Patient</option
                    >
                    <option ngbDropdownItem value="doctor" (click)="setUserType($event.target.value)" value="Doctor"
                        >Doctor</option
                    >
                </div>
            </div>
            <small id="user-type-hint" class="form-text text-muted">Type of a user to create</small>
        </div>
        <div *ngIf="!isLogin" class="d-flex flex-row">
            <button type="submit" class="btn btn-primary">Sign up</button>
            <a class="text-decoration-none ml-2 pt-1" (click)="login($event)">Already have an account?</a>
        </div>
        <div *ngIf="isLogin" class="d-flex flex-row">
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="text-decoration-none ml-2 pt-1" (click)="login($event)">Doesn't have an account?</a>
        </div>
    </form>
</div>
